body { 
    
    background-color: dodgerblue;
    border: 2px solid dimgray;
}
div {
    margin: 70px;
    border: 1px solid #4CAF50;
  }

  
  #special {
      padding: 25px 50px 75px 100px;
    }

 #love {
    text-shadow: 2px 2px;
    font-family: myFirstFont;
    src: url(sansation_light.woff);
    }

      
</body>
</html> 

      }
